root = true # directorio raiz donde se va resolver el editor config

[*]
indent_style = tab # especificas como vas a gestionar la indentacion
indent_size = 3 # especificas cuantos espacios te vas a mover en una indentacion
end_of_line = lf # detecta el final de cada linea
trim_trailling_whitespace = true # limpiar espacios en blanco imnecesario
insert_final_newline = true # insertar una linea al final del codigo 
charset = utf-8 # especificar la estandarizacion de caracteres 

[*.md] # realizas una esoecificacion para edicion para ciertas extensiones
indent_size = 4